body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(brainwave.jpg); 
	background-size:cover; 
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
}

div.brainbox {
	background-image: url(1px.png);
	color:#FFF;
	padding:20px;
}

span.brainwave {
	font-family: 'Poiret One', cursive;
	padding:20px;
	font-size: 48px;
	color:#FFF;
}

p.contact {
	position: fixed;
	bottom:0;
	width:100%;
	display:block;
	text-align: center;
	color:#FFF;
	background-color: #000;
	padding:20px;
	font-size:16px;
	margin:0;
}


.hbSpecial{
 	-webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
	background-color:#82240D;
	color:#fff;
  text-align: center;
  padding: 4px;
  width: max-content;
  float: right;
  cursor: pointer;
}
.hbSpecial:hover{
	background-color:#82240DAD;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.activities{
  position: fixed;
bottom:75%;
left:50%;
max-height: 75%;
transform: translate(0,-50%); -webkit-transform: translate(-50%,50%);
 border: 1px solid #000; padding:15px; margin:15px;   background-color:#fff;  box-shadow: 0px 0px 10px -3px #333;
}
#cover{
   position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#window{
  border-radius: 3px;
position:fixed;
bottom:50%;
left:50%;
max-height: 75%;
transform: translate(0,-50%); -webkit-transform: translate(-50%,50%);
 border: 1px solid #000; padding:15px; margin:15px;   background-color:#fff;  box-shadow: 0px 0px 10px -3px #333;
}
.floatMark{
cursor: pointer;
position:relative;
top:-50px;
float:right;
color:#fff;
}
.floatMark:hover{
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
</style>
